* {
  margin: 0;
  padding: 0;
}

.product-title {
  font-weight: normal;
  font-size: 1.25rem;
}

.filter-button {
  color: #0f4697cc;
  font-weight: light;
  float: right;
  font-size: small;
  background-color: white;
  outline: auto;
}

.products-card {
  width: 100%;
  margin: auto;
  margin-top: 0.094rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.card{
  width:18.75rem;
  padding: 1.25rem;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.image-box img {
  width: 15.625rem;
  height: 12.5rem;
}


button {
  padding: 5px 10px;
  border: none;
  font-weight: light;
  font-size: 1rem;
  background-color: #0f4697cc;
  outline: none;
  color: white;
}

.stock {
  color: green;
  float: right;
  font-size: 1rem;
}

